version = "0.1";

privio:
{
  // Define the bock sizes for read and write operations.  Default is 1MiB
  io:
  {
    reader_block_size = 0x100000;
    writer_block_size = 0x100000;
  };

  // These are paths that privio is allowed to manage
  // Can be extended regular expressions
  allowed_paths = [ "/home/[a-z]/[ -~]+", "/work/[a-z]/[ -~]+", "/shares/[ -~]+" ];
  debug_level = 6;
  log_file = "privio.log";

  // These are users that are allowed to run privio
  allowed_users = [ "redmine" ];
  
  // These are users that privio cannot switch to
  forbidden_accounts = [ "root","bin","daemon","adm","lp","sync","shutdown","halt", \
    "mail","uucp","operator","games","gopher","ftp","nobody","dbus","vcsa","abrt", \
    "haldaemon","ntp","saslauth","postfix","sshd","tcpdump","apache","rpc","rpcuser", \
    "nfsnobody" ];
}; 

